<footer class="footer">
  <div class="container">
    <div class="row"> 
      <div class="col-md-6 font-inc copyright">
        <p>© 2015 <span>CONTEMPUS ARQUITETOS</span>, Todos os Direitos Reservados.</p>
      </div>
      <div class="col-md-6 social-links">
        <a href="#">
          <i class="fa fa-facebook fa-2x"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>