<footer id="footer">
  <div class="container text-center">
    <div class="row"> 
      <div class="col-md-4">
        <p>Copyright 2015 © contempusarquitetos.com.br</p>
      </div>
      <div class="col-md-4">
        <a href="#">
          <i class="fa fa-facebook fa-lg"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram fa-lg"></i>
        </a>
      </div>
      
      <div class="col-md-4 back-to-top">
        <a class="page-scroll" href="#page-top">
          <i class="fa fa-angle-up fa-2x pull-right"></i>
        </a>
      </div>
    </div>
  </div>
</footer>