<div id="page-top"></div>

<!-- Slider -->
<section id="slider">
  <div id="header-carousel" class="carousel slide carousel-fade header-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#header-carousel" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/slider6.jpg" alt="image">
        <div class="carousel-caption header-carousel-caption">
          <h1 class="font-alt">Nós somos Contempus</h1>
          <div class="carousel-subtitle font-inc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </div>
        </div>
      </div>
      
      <div class="item">    
        <img src="assets/slider7.jpg" alt="image">
        <div class="carousel-caption header-carousel-caption">
          <h1 class="font-alt">Nós somos Contempus</h1>
          <div class="carousel-subtitle font-inc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Slider -->

<!-- Services -->
<section id="services">
  <div class="container text-center">
    
    <div class="font-alt">
      <h1>O que fazemos?</h1>
      <hr>
    </div>
    <div class="module-subtitle font-inc">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad.
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3">
        <i class="glyphicon glyphicon-home glyphicon-3x"></i>
        <div class="content-box-title font-inc">Projeto de Edificações</div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
      </div>

      <div class="col-sm-6 col-md-3">
        <i class="glyphicon glyphicon-lamp glyphicon-3x"></i>
        <div class="content-box-title font-inc">Arquitetura de Interior</div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
      </div>

      <div class="col-sm-6 col-md-3">
        <i class="glyphicon glyphicon-comment glyphicon-3x"></i>
        <div class="content-box-title font-inc">Consultoria</div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
      </div>

      <div class="col-sm-6 col-md-3">
        <i class="glyphicon glyphicon-wrench glyphicon-3x"></i>
        <div class="content-box-title font-inc">Execução de Obra</div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>                 
      </div> 
    </div>
  </div>
</section>
<!-- End Services -->

<!-- Projects -->
<section id="projects">
  <div class="container text-center">

    <div class="font-alt">
      <h1>Projetos</h1>
      <hr>
    </div>

    <!-- PROJECT FILTER -->
    <div class="row">
      <div class="col-sm-12">

        <ul class="projects-filter font-inc">
          <li><a href="#" data-filter="*" class="current wow fadeInUp">Todos</a></li>
          <li><a href="#" data-filter=".quarto" class="wow fadeInUp" data-wow-delay="0.2s">Quartos</a></li>
          <li><a href="#" data-filter=".sala" class="wow fadeInUp" data-wow-delay="0.4s">Salas</a></li>
          <li><a href="#" data-filter=".cozinha" class="wow fadeInUp" data-wow-delay="0.6s">Cozinhas</a></li>
          <li><a href="#" data-filter=".area-externa" class="wow fadeInUp" data-wow-delay="0.8s">Áreas Externas</a></li>
        </ul>

      </div>
    </div>
    <!-- /PROJECT FILTER -->

    <div class="projects-container fadeIn wow">

      <div class="col-md-4 cozinha">
        <figure class="effect-bubba">
          <img src="assets/projetos/12.jpg" alt="image">
          <figcaption>
            <h2>Trends</h2>
            <a href="projeto_1">View more</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-4 quarto">
        <figure class="effect-bubba">
          <img src="assets/projetos/2.jpg" alt="image">
          <figcaption>
            <h2>Trends</h2>
            <a href="projeto_1">View more</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-4 quarto">
        <figure class="effect-bubba">
          <img src="assets/projetos/3.jpg" alt="image">
          <figcaption>
            <h2>Trends</h2>
            <a href="projeto_1">View more</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-4 sala">
        <figure class="effect-bubba">
          <img src="assets/projetos/4.jpg" alt="image">
          <figcaption>
            <h2>Trends</h2>
            <a href="projeto_1">View more</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-4 sala">
        <figure class="effect-bubba">
          <img src="assets/projetos/5.jpg" alt="image">
          <figcaption>
            <h2>Trends</h2>
            <a href="projeto_1">View more</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-4 sala">
        <figure class="effect-bubba">
          <img src="assets/projetos/6.jpg" alt="image">
          <figcaption>
            <h2>Trends</h2>
            <a href="projeto_1">View more</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-4 sala">
        <figure class="effect-bubba">
          <img src="assets/projetos/7.jpg" alt="image">
          <figcaption>
            <h2>Trends</h2>
            <a href="projeto_1">View more</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-4 cozinha">
        <figure class="effect-bubba">
          <img src="assets/projetos/14.jpg" alt="image">
          <figcaption>
            <h2>Trends</h2>
            <a href="projeto_1">View more</a>
          </figcaption>
        </figure>
      </div>

    </div>

    <div class="padding-top">
      <a href="projetos" class="btn black-btn">Ver Todos</a>
    </div>
  </div>
</section>
<!-- End Projetos -->

<!-- Team -->
<section id="team">
  <div class="container text-center">

    <div class="font-alt">
      <h1>Quem somos?</h1>
      <hr>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img class="team-img img-responsive img-circle" src="assets/equipe/photo-1.jpg" alt="">
        <div class="team-item">
          <div class="team-name font-inc">Camilla Araujo</div>
          <div class="team-role font-inc">Arquiteta</div>
        </div>
        <p class="team-desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
        </p>
      </div>
      <div class="col-md-4">
        <img class="team-img img-responsive img-circle" src="assets/equipe/photo-2.jpg" alt="">
        <div class="team-item">
          <div class="team-name font-inc">Hélio Canto dos Santos</div>
          <div class="team-role font-inc">Arquiteto</div>
        </div>  
        <p class="team-desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
        </p>
      </div>
      <div class="col-md-4">
        <img class="team-img img-responsive img-circle" src="assets/equipe/photo-3.jpg" alt="">
        <div class="team-item">
          <div class="team-name font-inc">Nathália Font</div>
          <div class="team-role font-inc">Arquiteta</div>          
        </div>
        <p class="team-desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Team -->

<!-- Info -->
<section id="info">
  <div class="info-container">
    <div class="overlay spacer">
      <div class="container">
        <div class="row text-center">

          <div class="col-sm-6 col-md-3">
            <div class="info-counter font-alt">100+</div>
            <div class="info-desc font-inc">Clientes Satisfeitos</div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="info-counter font-alt">200+</div>
            <div class="info-desc font-inc">Projetos Concluídos</div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="info-counter font-alt">5</div>
            <div class="info-desc font-inc">Prêmios Conquistados</div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="info-counter font-alt">2</div>
            <div class="info-desc font-inc">Escritórios</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Info -->

<!-- Contact -->
<section id="contact">
  <div class="container text-center">

    <div class="font-alt">
      <h1>Contate-nos</h1>
      <hr>
    </div>

    <div class="row padding-top-row">
      <div class="col-md-4">
        <i class="glyphicon glyphicon-map-marker glyphicon-3x"></i>
        <div class="content-box-title font-inc">Tv. Padre Eutíquio, 3457. Batista Campos</div>
      </div>
      <div class="col-md-4">
        <i class="glyphicon glyphicon-envelope glyphicon-3x"></i>
        <div class="content-box-title font-inc">contempusarquitetos@gmail.com</div>
      </div>
      <div class="col-md-4">
        <i class="glyphicon glyphicon-earphone glyphicon-3x"></i>
        <div class="content-box-title font-inc">(91) 98051-2060</div>
      </div>
    </div>

  </div>
</section>
<!-- End Contact -->