<!--Header (navigation menu, and logo) -->
<nav class="navbar navbar-default header" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index">
                  <!-- Logo -->
                  <img src="assets/logo_menu.png" alt="Contempus Arquitetos">
              </a>
          </div>
      </div>

      <div class="col-md-8">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="index">Início</a></li>
            <li><a href="#">O que fazemos?</a></li>
            <li><a href="#">Portfólio</a></li>
            <li><a href="#">Quem somos?</a></li>
            <li><a href="#">Contate-nos</a></li>                    
          </ul>
        </div>
      </div>
    </div><!-- /row -->

    <hr class="hr-menu" />
  </div><!-- /container -->
</nav>
<!-- End Header -->

<!-- Slider -->
<div class="container">
  <div id="header-carousel" class="carousel slide carousel-fade header-carousel" data-ride="carousel"> 
    <!-- Slider Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#header-carousel" data-slide-to="1"></li>
      <li data-target="#header-carousel" data-slide-to="2"></li>
    </ol>   
    
    <div class="carousel-inner">    
      <!-- Slider Item (image, link and description for your project in slider) -->        
      <div class="item active"> 
        <!-- Imagem -->           
        <img src="assets/slider1.jpg" alt="Specifie an alternate text for an image">      
        <!-- Descrição -->      
        <div class="carousel-caption header-carousel-caption">
            <h1>We are a creative Interior Design Studio</h1>
        </div>
      </div>
      
      <!-- Slider Item (image, link and description for your project in slider) -->
      <div class="item">    
          <!-- Imagem -->        
          <img src="assets/slider2.jpg" alt="Specifie an alternate text for an image">
          <!-- Descrição -->
          <div class="carousel-caption header-carousel-caption">
              <h1>Beautiful way to show your work</h1> 
          </div>
      </div>

      <!-- Slider Item (image, link and description for your project in slider) -->
      <div class="item">    
          <!-- Imagem -->  
          <img src="assets/slider3.jpg" alt="Specifie an alternate text for an image">
          <!-- Descrição -->
          <div class="carousel-caption header-carousel-caption">
              <h1>Beautiful way to show your work</h1> 
          </div>
      </div>

    </div>
  </div>
  <!-- End Slider -->
</div>

<!-- Serviços -->            
<div class="container padding-top text-center"> 
  <!-- Título -->       
  <div class="general-title">
    <h2>O que fazemos?</h2>        
    <div class="title-devider"></div>
  </div>  
  <!-- Descrição -->             
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

  <div class="row padding-top"> 
    <!-- Serviço Item -->                        
    <div class="col-sm-6 col-md-3">  
      <!-- Ícone -->
      <i class="glyphicon glyphicon-home glyphicon-3x"></i>     
      <!-- Título -->  
      <div class="service-title">      
        <h3>Projeto de Edificações</h3> 
      </div>   
      <!-- Descrição -->                  
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
    </div>

    <!-- Serviço Item -->
    <div class="col-sm-6 col-md-3">
      <!-- Ícone -->  
      <i class="glyphicon glyphicon-lamp glyphicon-3x"></i>          
      <!-- Título -->
      <div class="service-title">
        <h3>Arquitetura de Interior</h3>
      </div>
      <!-- Descrição -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
    </div>                        

    <!-- Serviço Item -->
    <div class="col-sm-6 col-md-3">
      <!-- Ícone -->
      <i class="glyphicon glyphicon-comment glyphicon-3x"></i>
      <!-- Título -->
      <div class="service-title">
        <h3>Consultoria</h3>
      </div>
      <!-- Descrição -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>                 
    </div>                          

    <!-- Services Item (icon, title and description for your service) -->
    <div class="col-sm-6 col-md-3">
      <!-- Ícone -->
      <i class="glyphicon glyphicon-wrench glyphicon-3x"></i>
      <!-- Título -->
      <div class="service-title">
        <h3>Execução de Obra</h3>
      </div>
      <!-- Descrição -->
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>                 
    </div> 
  </div><!-- /row -->
</div><!-- /container -->
<!-- End Serviços -->

<!-- Portfolio -->
<div class="container padding-top text-center"> 
  <!-- Título -->       
  <div class="general-title">
    <h2>Portfólio</h2>        
    <div class="title-devider"></div>
    <!-- Descrição -->             
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
  </div>  

  <div class="row">
    <div class="col-md-12">
      
      <div class="portfolio-filter padding-top">
        <a href="#" data-filter="*" class="current">Todos</a>
        <a href="#" data-filter=".quartos">Quartos</a>
        <a href="#" data-filter=".salas">Salas</a>
      </div>
 
      <div class="portfolio-container fadeIn wow padding-top">
        <div class="salas">
          <figure class="effect-bubba">
            <img src="assets/portfolio/1.jpg" alt="image">
            <figcaption>
              <h2>Trends</h2> 
              <a href="assets/portfolio/1.jpg">View more</a> 
            </figcaption>     
          </figure>
        </div>
     
        <div class="quartos">
          <figure class="effect-bubba">
            <img src="assets/portfolio/2.jpg" alt="image">
            <figcaption>
              <h2>Trends</h2> 
              <a href="#">View more</a> 
            </figcaption>     
          </figure>
        </div>    
     
        <div class="quartos">
          <figure class="effect-bubba">
            <img src="assets/portfolio/3.jpg" alt="image">
            <figcaption>
              <h2>Trends</h2> 
              <a href="#">View more</a> 
            </figcaption>     
          </figure>
        </div>
         
        <div class="salas">
          <figure class="effect-bubba">
            <img src="assets/portfolio/4.jpg" alt="image">
            <figcaption>
              <h2>Trends</h2> 
              <a href="#">View more</a> 
            </figcaption>     
          </figure>
        </div>
     
        <div class="salas">
          <figure class="effect-bubba">
            <img src="assets/portfolio/5.jpg" alt="image">
            <figcaption>
              <h2>Trends</h2> 
              <a href="#">View more</a> 
            </figcaption>     
          </figure>
        </div>
     
        <div class="salas">
          <figure class="effect-bubba">
            <img src="assets/portfolio/6.jpg" alt="image">
            <figcaption>
              <h2>Trends</h2> 
              <a href="#">View more</a> 
            </figcaption>     
          </figure>
        </div>
     
        <div class="salas">
          <figure class="effect-bubba">
            <img src="assets/portfolio/7.jpg" alt="image">
            <figcaption>
              <h2>Trends</h2> 
              <a href="#">View more</a> 
            </figcaption>     
          </figure>
        </div>    
         
        <div class="quartos">
          <figure class="effect-bubba">
            <img src="assets/portfolio/8.jpg" alt="image">
            <figcaption>
              <h2>Trends</h2> 
              <a href="#">View more</a> 
            </figcaption>     
          </figure>
        </div>    
      </div>

      <!--<div id="filters">
        <ul class="filters list-inline">
          <li>
            <a id="all" href="#" data-filter="*" class="active"><h5>Todos</h5></a>
          </li>
          <li>
            <a class="" href="#" data-filter=".quartos"><h5>Quartos</h5></a>
          </li>
          <li>
            <a class="" href="#" data-filter=".design"><h5>Cozinhas</h5></a>
          </li>
          <li>
            <a class="" href="#" data-filter=".android"><h5>Salas</h5></a>
          </li>
        </ul>

        <ul class="grid isotope fadeInLeft animated wow">
          
          <li class="item quartos">
            <figure class="effect-bubba">
              <img src="assets/portfolio/1.jpg" alt="img02"/>
              <figcaption>
                <h2>Trends</h2> 
                <a href="assets/portfolio/1.jpg">View more</a> 
              </figcaption>     
            </figure>
          </li>

          <li class="item design">
            <figure class="effect-bubba">
              <img src="assets/portfolio/2.jpg" alt="img16"/>
              <figcaption>
                <h2>Trends</h2> 
                <a href="assets/portfolio/2.jpg">View more</a> 
              </figcaption>     
            </figure>
          </li>

          <li class="item quartos">            
            <figure class="effect-bubba">
              <img src="assets/portfolio/3.jpg" alt="img02"/>
              <figcaption>
                <h2>Trends</h2> 
                <a href="assets/portfolio/3.jpg">View more</a> 
              </figcaption>     
            </figure>
          </li>

          <li class="item android">
            <figure class="effect-bubba">
              <img src="assets/portfolio/4.jpg" alt="img16"/>
              <figcaption>
                <h2>Trends</h2> 
                <a href="assets/portfolio/4.jpg">View more</a> 
              </figcaption>     
            </figure>
          </li>
        </ul>
      </div>-->

    </div>
  </div>

  <!-- Todos os Projetos -->  
  <div class="padding-top padding-bottom">  
    <a href="services.html" class="btn black-btn">Ver todos os projetos</a>
  </div>
</div>
<!-- End Portfolio -->

<!-- Info -->
<!-- div class="container padding-top">
  <div class="highlight-info">
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6"> <i class="fa fa-smile-o fa-3x"></i>
        <h4>120+ Clientes Satisfeitos</h4>
      </div>
      <div class="col-sm-3 col-xs-6"> <i class="fa fa-check-square-o fa-3x"></i>
        <h4>600+ Projetos Concluídos</h4>
      </div>
      <div class="col-sm-3 col-xs-6"> <i class="fa fa-trophy fa-3x"></i>
        <h4>25 Prêmios Conquistados</h4>
      </div>
      <div class="col-sm-3 col-xs-6"> <i class="fa fa-map-marker fa-3x"></i>
        <h4>3 Escritórios</h4>
      </div>
    </div>
  </div>
</div> -->
<!-- End Info -->