<% provide(:portfolio, "active") %>
<% provide(:title, "Portfólio") %>

<div class="portfolio-title">
  <div class="container text-center">

    <div class="titulo">
      <h2>Portfólio</h2>
      <hr>
    </div>
  </div>
</div>

<div class="portfolio-section">
	<div class="container text-center">
	  
	  <div class="row padding-top">

		  <div class="portfolio-filter">
	      <a href="#" data-filter="*" class="current">Todos</a>
	      <a href="#" data-filter=".quartos">Quartos</a>
	      <a href="#" data-filter=".salas">Salas</a>
	      <a href="#" data-filter=".cozinhas">Cozinhas</a>
	    </div>

	    <div class="portfolio-container fadeIn wow padding-top">

	      <div class="col-md-4 salas">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/1.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/1.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 quartos">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/2.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/2.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 quartos">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/3.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/3.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 salas">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/4.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/4.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 salas">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/5.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/5.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 salas">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/6.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/6.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 salas">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/7.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/7.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 quartos">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/8.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/8.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 quartos">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/9.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/9.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 salas">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/10.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/10.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 cozinhas">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/11.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/11.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 cozinhas">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/12.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/12.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 cozinhas">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/13.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/13.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 cozinhas">
	        <figure class="effect-bubba">
	          <img src="assets/portfolio/14.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/portfolio/14.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	    </div>
		</div>
	</div>
</div>
