<% provide(:projeto_1, "active") %>
<% provide(:title, "Projeto 1") %>

<section>
  <div class="container">
    <div class="row">
      
      <div class="col-sm-6">
        <div class="project-details p-t-150">
          <h1 class="font-montserrat p-b-30">Barbearia El Macho</h1>
          <ul>
            <li class="font-inconsolata"><strong>Cliente: </strong>Lucas Conde</li>
            <li class="font-inconsolata"><strong>Local: </strong>Belém, PA</li>
            <li class="font-inconsolata"><strong>Data de conclusão: </strong>23 de Agosto, 2015</li>
          </ul>

          <div class="project-tags">
            <ul>
              <li><i class="fa fa-tag"></i><a href="#" class="font-inconsolata">Arquitetura de Interiores</a></li>
              <li><i class="fa fa-tag"></i><a href="#" class="font-inconsolata">Execução de Obras</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="project-text p-t-150">
          <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          Ut wisi enim ad minim veniam. Ut laoreet dolore magna aliquam erat volutpat.
          </p>
          <p>
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros 
          et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          </p>
          <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          Ut wisi enim ad minim veniam
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container p-t-80">
    <div class="row">
      <div class="col-sm-12">
        <div class="flexslider">
          <ul class="slides">
            <li><img src="assets/projetos/quarto-1.jpg" alt=""></li>
            <li><img src="assets/projetos/sala-1.jpg" alt=""></li>
            <li><img src="assets/projetos/cozinha-1.jpg" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-t-50 p-b-150">
  <div class="container text-center">

    <div class="font-montserrat p-b-30">
      <h1>Projetos Relacionados</h1>
      <i class="fa fa-angle-down fa-2x module-title-icon"></i>
    </div>

    <!-- PROJECT GRID -->
    <ul id="projects-grid" class="projects-grid projects-grid-margin projects-hover">

      <!-- PROJECT ITEM -->
      <li class="project-item quarto">
        <a href="projeto_1.html">
          <div class="project-image">
            <img src="assets/projetos/quarto-2.jpg" alt="">
          </div>
          <div class="project-caption">
            <h3 class="project-title font-montserrat">Titulo</h3>
            <div class="project-descr font-inconsolata">Subtitulo</div>
          </div>
        </a>
      </li>
      <!-- /PROJECT ITEM -->

      <!-- PROJECT ITEM -->
      <li class="project-item sala">
        <a href="projeto_1.html">
          <div class="project-image">
            <img src="assets/projetos/sala-2.jpg" alt="">
          </div>
          <div class="project-caption">
            <h3 class="project-title font-montserrat">Titulo</h3>
            <div class="project-descr font-inconsolata">Subtitulo</div>
          </div>
        </a>
      </li>
      <!-- /PROJECT ITEM -->

      <!-- PROJECT ITEM -->
      <li class="project-item cozinha">
        <a href="projeto_1.html">
          <div class="project-image">
            <img src="assets/projetos/cozinha-2.jpg" alt="">
          </div>
          <div class="project-caption">
            <h3 class="project-title font-montserrat">Titulo</h3>
            <div class="project-descr font-inconsolata">Subtitulo</div>
          </div>
        </a>
      </li>
      <!-- /PROJECT ITEM -->
    </ul>
    <!-- /PROJECT GRID -->
  </div>    
</section>