<% provide(:projetos, "active") %>
<% provide(:title, "Projetos") %>

<div class="projects-title">
  <div class="container text-center">
    <div class="font-alt">
      <h2>Projetos</h2>
      <hr>
    </div>
  </div>
</div>

<div class="projects-section">
	<div class="container text-center">
	  <div class="row padding-top">

		  <div class="projects-filter">
	      <a href="#" data-filter="*" class="current">Todos</a>
	      <a href="#" data-filter=".quartos">Quartos</a>
	      <a href="#" data-filter=".salas">Salas</a>
	      <a href="#" data-filter=".cozinhas">Cozinhas</a>
	    </div>

	    <div class="projects-container fadeIn wow padding-top">

	      <div class="col-md-4 salas">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/1.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/1.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 quartos">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/2.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/2.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 quartos">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/3.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/3.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 salas">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/4.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/4.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 salas">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/5.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/5.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 salas">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/6.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/6.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 salas">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/7.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/7.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 quartos">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/8.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/8.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 quartos">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/9.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/9.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 salas">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/10.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/10.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 cozinhas">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/11.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/11.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 cozinhas">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/12.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/12.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 cozinhas">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/13.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/13.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	      <div class="col-md-4 cozinhas">
	        <figure class="effect-bubba">
	          <img src="assets/projetos/14.jpg" alt="image">
	          <figcaption>
	            <h2>Trends</h2>
	            <a href="assets/projetos/14.jpg">View more</a>
	          </figcaption>
	        </figure>
	      </div>

	    </div>
		</div>
	</div>
</div>
