<% provide(:projetos, "active") %>
<% provide(:title, "Projetos") %>

<!-- PROJECTS -->
<section id="projects-section">
  <div class="container text-center">

    <div class="font-alt p-b-30">
      <h1>Projetos</h1>
      <i class="fa fa-angle-down fa-2x module-title-icon"></i>
    </div>

    <!-- PROJECT FILTER -->
    <div class="row">
      <div class="col-sm-12">

        <ul class="projects-filter font-inc">
          <li><a href="#" data-filter="*" class="current wow fadeInUp">Todos</a></li>
          <li><a href="#" data-filter=".quarto" class="wow fadeInUp" data-wow-delay="0.2s">Quartos</a></li>
          <li><a href="#" data-filter=".sala" class="wow fadeInUp" data-wow-delay="0.4s">Salas</a></li>
          <li><a href="#" data-filter=".cozinha" class="wow fadeInUp" data-wow-delay="0.6s">Cozinhas</a></li>
        </ul>

      </div>
    </div>
    <!-- /PROJECT FILTER -->

    <!-- PROJECT GRID -->
    <ul id="projects-grid" class="projects-grid projects-grid-margin projects-hover">

      <!-- PROJECT ITEM -->
      <li class="project-item quarto">
        <a href="projeto_1.html">
          <div class="project-image">
            <img src="assets/projetos/quarto-1.jpg" alt="">
          </div>
          <div class="project-caption">
            <h3 class="project-title font-alt">Titulo</h3>
            <div class="project-descr font-inc">Subtitulo</div>
          </div>
        </a>
      </li>
      <!-- /PROJECT ITEM -->

      <!-- PROJECT ITEM -->
      <li class="project-item sala">
        <a href="projeto_1.html">
          <div class="project-image">
            <img src="assets/projetos/sala-1.jpg" alt="">
          </div>
          <div class="project-caption">
            <h3 class="project-title font-alt">Titulo</h3>
            <div class="project-descr font-inc">Subtitulo</div>
          </div>
        </a>
      </li>
      <!-- /PROJECT ITEM -->

      <!-- PROJECT ITEM -->
      <li class="project-item cozinha">
        <a href="projeto_1.html">
          <div class="project-image">
            <img src="assets/projetos/cozinha-1.jpg" alt="">
          </div>
          <div class="project-caption">
            <h3 class="project-title font-alt">Titulo</h3>
            <div class="project-descr font-inc">Subtitulo</div>
          </div>
        </a>
      </li>
      <!-- /PROJECT ITEM -->

      <!-- PROJECT ITEM -->
      <li class="project-item quarto">
        <a href="projeto_1.html">
          <div class="project-image">
            <img src="assets/projetos/quarto-2.jpg" alt="">
          </div>
          <div class="project-caption">
            <h3 class="project-title font-alt">Titulo</h3>
            <div class="project-descr font-inc">Subtitulo</div>
          </div>
        </a>
      </li>
      <!-- /PROJECT ITEM -->

      <!-- PROJECT ITEM -->
      <li class="project-item sala">
        <a href="projeto_1.html">
          <div class="project-image">
            <img src="assets/projetos/sala-2.jpg" alt="">
          </div>
          <div class="project-caption">
            <h3 class="project-title font-alt">Titulo</h3>
            <div class="project-descr font-inc">Subtitulo</div>
          </div>
        </a>
      </li>
      <!-- /PROJECT ITEM -->

      <!-- PROJECT ITEM -->
      <li class="project-item cozinha">
        <a href="projeto_1.html">
          <div class="project-image">
            <img src="assets/projetos/cozinha-2.jpg" alt="">
          </div>
          <div class="project-caption">
            <h3 class="project-title font-alt">Titulo</h3>
            <div class="project-descr font-inc">Subtitulo</div>
          </div>
        </a>
      </li>
      <!-- /PROJECT ITEM -->

      <!-- PROJECT ITEM -->
      <li class="project-item quarto">
        <a href="projeto_1.html">
          <div class="project-image">
            <img src="assets/projetos/quarto-3.jpg" alt="">
          </div>
          <div class="project-caption">
            <h3 class="project-title font-alt">Titulo</h3>
            <div class="project-descr font-inc">Subtitulo</div>
          </div>
        </a>
      </li>
      <!-- /PROJECT ITEM -->

      <!-- PROJECT ITEM -->
      <li class="project-item sala">
        <a href="projeto_1.html">
          <div class="project-image">
            <img src="assets/projetos/sala-3.jpg" alt="">
          </div>
          <div class="project-caption">
            <h3 class="project-title font-alt">Titulo</h3>
            <div class="project-descr font-inc">Subtitulo</div>
          </div>
        </a>
      </li>
      <!-- /PROJECT ITEM -->

      <!-- PROJECT ITEM -->
      <li class="project-item cozinha">
        <a href="projeto_1.html">
          <div class="project-image">
            <img src="assets/projetos/cozinha-3.jpg" alt="">
          </div>
          <div class="project-caption">
            <h3 class="project-title font-alt">Titulo</h3>
            <div class="project-descr font-inc">Subtitulo</div>
          </div>
        </a>
      </li>
      <!-- /PROJECT ITEM -->

    </ul>
    <!-- /PROJECT GRID -->

    <!-- PAGINATION -->
    <div class="container">
      <div class="pagination font-inc">
        <a href="projetos_2">Próxima <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
    <!-- /PAGINATION -->
  </div>
</section>
<!-- /PROJECTS -->