<% provide(:servicos, "active") %>
<% provide(:title, "Nossos Serviços") %>

<!-- SERVICES -->
<section class="container text-center p-t-150 p-b-50">
  <div class="font-montserrat">
    <h1>Nossos Serviços</h1>
  </div>
  <div class="font-inconsolata p-t-50 p-b-80 p-l-r-200">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.
  </div>

  <div class="row">
    <div class="col-md-6 col-md-3">
      <i class="glyphicon glyphicon-home glyphicon-3x"></i>
      <div class="content-box-title font-inconsolata">Projeto de Edificações</div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
    </div>

    <div class="col-md-6 col-md-3">
      <i class="glyphicon glyphicon-lamp glyphicon-3x"></i>
      <div class="content-box-title font-inconsolata">Arquitetura de Interiores</div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
    </div>

    <div class="col-md-6 col-md-3">
      <i class="glyphicon glyphicon-comment glyphicon-3x"></i>
      <div class="content-box-title font-inconsolata">Consultoria</div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
    </div>

    <div class="col-md-6 col-md-3">
      <i class="glyphicon glyphicon-wrench glyphicon-3x"></i>
      <div class="content-box-title font-inconsolata">Execução de Obras</div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>                 
    </div> 
  </div>
</section>
<!-- /SERVICES -->