<% provide(:sobre, "active") %>
<% provide(:title, "Sobre") %>

<section class="container p-t-150 p-b-80">
  <div class="row">

    <div class="about col-md-6">
      <h1 class="font-montserrat">Nosso escritório</h1>
      <div class="font-inconsolata p-t-30">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        Ut wisi enim ad minim veniam sed diam.
      </div>
      <div class="p-t-30">
        <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        Ut wisi enim ad minim veniam. Ut laoreet dolore magna aliquam erat volutpat.
        </p>
        <p>
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros 
        et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
        </p>
        <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        Ut wisi enim ad minim veniam.
        </p>
        <p>
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros 
        et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit 
        amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
        </p>
      </div>
    </div>

    <div class="office-image col-md-6">
      <img class="img-responsive" src="assets/escritorio.jpg" alt="">
    </div>

  </div>
</section>

<!-- DIVIDER -->
<hr class="divider">
<!-- /DIVIDER -->

<section class="container text-center p-t-80 p-b-80">
  <div class="row">

    <div class="col-md-4">
      <img class="team-img img-responsive img-circle" src="assets/equipe/1.jpg" alt="">

      <div class="team-name font-inconsolata"><strong>Camilla Araujo</strong></div>
      <div class="font-inconsolata">Arquiteta</div>
      <p class="team-desc">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        Ut wisi enim ad minim veniam.
      </p>
    </div>

    <div class="col-md-4">
      <img class="team-img img-responsive img-circle" src="assets/equipe/2.jpg" alt="">

      <div class="team-name font-inconsolata"><strong>Hélio Canto dos Santos</strong></div>
      <div class="font-inconsolata">Arquiteto</div>
      <p class="team-desc">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        Ut wisi enim ad minim veniam.
      </p>
    </div>

    <div class="col-md-4">
      <img class="team-img img-responsive img-circle" src="assets/equipe/3.jpg" alt="">

      <div class="team-name font-inconsolata"><strong>Nathália Font</strong></div>
      <div class="font-inconsolata">Arquiteta</div>
      <p class="team-desc">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        Ut wisi enim ad minim veniam.
      </p>
    </div>    

  </div>
</section>

<!-- INFO -->
<section id="info">
  <div class="info-container">
    <div class="overlay spacer">
      <div class="container">
        <div class="row text-center">

          <div class="col-md-6 col-md-3">
            <div class="info-counter font-montserrat">100+</div>
            <div class="info-desc font-inconsolata">Clientes Satisfeitos</div>
          </div>

          <div class="col-md-6 col-md-3">
            <div class="info-counter font-montserrat">200+</div>
            <div class="info-desc font-inconsolata">Projetos Concluídos</div>
          </div>

          <div class="col-md-6 col-md-3">
            <div class="info-counter font-montserrat">5</div>
            <div class="info-desc font-inconsolata">Prêmios Conquistados</div>
          </div>

          <div class="col-md-6 col-md-3">
            <div class="info-counter font-montserrat">2</div>
            <div class="info-desc font-inconsolata">Escritórios</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /INFO -->

<!-- CONTACT -->
<section id="contact" class="p-t-80 p-b-150">
  <div class="container text-center">

    <div class="row">
      <div class="col-md-4">
        <i class="glyphicon glyphicon-map-marker glyphicon-3x"></i>
        <div class="content-box-title font-inconsolata">Tv. Padre Eutíquio, 3457. Batista Campos</div>
      </div>
      <div class="col-md-4">
        <i class="glyphicon glyphicon-envelope glyphicon-3x"></i>
        <div class="content-box-title font-inconsolata">contempusarquitetos@gmail.com</div>
      </div>
      <div class="col-md-4">
        <i class="glyphicon glyphicon-earphone glyphicon-3x"></i>
        <div class="content-box-title font-inconsolata">(91) 98051-2060</div>
      </div>
    </div>

  </div>
</section>
<!-- /CONTACT -->