
/*@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Share+Tech);*/
/*@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);*/
/*@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700);*/
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,700);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);


/* ------------------------------------------------------------------
1) GERAL
2) HEADER / MENU
3) BOTÃO
4) SLIDER
5) SERVIÇOS
6) PORTFOLIO
7) EQUIPE
8) CONTATO
9) FOOTER
10) BUBBA EFFECT
11) ISOTOPE
12) RESPONSIVIDADE
------------------------------------------------------------------ */


/* ------------------------------------------------------------------
  1) GERAL
------------------------------------------------------------------ */

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Cabin', sans-serif;
  color: #333;
  line-height: 1.6;   
  background-color: #fff;
  background-repeat: repeat;
}

a { 
  color:#c0c0c0;
  padding: 0;
  margin: 0;
  text-decoration: none; 
  -webkit-transition: background-color .2s linear, color .2s linear;
  -moz-transition: background-color .2s linear, color .2s linear;
  -o-transition: background-color .2s linear, color .2s linear;
  -ms-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;
}

a:hover, a:focus {
  text-decoration: none;
  color: #ff5733;
}

.titulo h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #282828;
}

 hr {
  display: block;
  height: 1px;
  width: 400px;
  border: 0;
  border-top: 2px solid #282828;
  padding: 0;
}

.padding-top {
  padding-top: 30px;
}

.padding-bottom {
  padding-bottom: 30px;
}

.glyphicon-3x {
  font-size: 2.7em;
}

.highlight-info {
  background: url(/assets/modern_architecture.jpg) center fixed;
  background-size: cover;
  color: #fff;
  padding: 8em 0;
}




/* ------------------------------------------------------------------
  2) HEADER / MENU
------------------------------------------------------------------ */

.header {
  background-color: #fff;
  border-color: transparent;
  border-radius: 0;
  min-height: 100px;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.4);
  box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.4);
}

.navbar-nav {
  padding-top: 30px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #282828;
  background-color: transparent;
  font-weight: 700;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #ff5733;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #282828;
  background-color: transparent;
}

.navbar-nav > li > a {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
}

.navbar-default .navbar-nav > li:focus {
  font-weight: 700;
}

.navbar-toggle {
  margin-top: 35px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #282828;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-collapse {
  text-align: center;
  border-top: none;
  box-shadow: none;
}




/* ------------------------------------------------------------------
  3) BOTÃO
------------------------------------------------------------------ */


.btn {
  border-radius: 0px;
  border: solid 2px;
  text-decoration: none;
  padding: 7px 25px;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.white-btn {
  color: #fff;
  background-color: transparent;
  border-color: #fff; 
}

.white-btn:hover {
  background-color: transparent;
  color: #ff5733;
  border-color: #ff5733;
}

.black-btn { 
  background-color: transparent;
  color: #282828;
  border-color: #282828;
}

.black-btn:hover {
  background-color: #3d3d3d;
  color: #fff;
  border-color: #282828;
}



/* ------------------------------------------------------------------
  4) SLIDER
------------------------------------------------------------------ */

.header-carousel {
  background-color: #282828;
  padding-top: 90px;
}

.header-carousel-caption {
  z-index: 1;
}

.header-carousel .item img {
  position: relative;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.carousel-caption h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.carousel-caption {
  top: 25%;
  text-shadow: 2px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}




/* ------------------------------------------------------------------
  5) SERVIÇOS
------------------------------------------------------------------ */

#servicos {
  padding-top: 30px;
  padding-bottom: 50px;
}

#servicos .row {
  padding-top: 60px;
}

#servicos h3 {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  color: #282828;
  text-transform: uppercase;
  font-weight: 700; 
}




/* ------------------------------------------------------------------
  6) PORTFOLIO
------------------------------------------------------------------ */

#portfolio {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #f1f1f1;
}

.portfolio-filter a { 
  background: none repeat scroll 0 0 #f1f1f1;
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #3d3d3d;
  border: #282828 solid 2px;
  transition: all 0.3s ease-in-out 0s;
}

.portfolio-filter a.current { 
  text-decoration: none;
  background: #3d3d3d;
  color: #fff;
  border: #282828 solid 2px;
}

.portfolio-container .col-md-3 {
  padding-right: 0;
  padding-left: 0;
}


/* ------------------------------------------------------------------
  7) EQUIPE
------------------------------------------------------------------ */

#equipe {
  padding-top: 30px;
  padding-bottom: 50px;
}

#equipe .row {
  padding-top: 30px;
}

.equipe-membro img {
  margin: 0 auto;
  border: 6px solid;
  border-color: #fff;
}

.equipe-membro h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
  font-weight: 700;
  letter-spacing: 1px;
}

.equipe-membro p {
  margin-top: 5px;
  color: #555;
  font-size: 16px;
    letter-spacing: 1px;
}




/* ------------------------------------------------------------------
  8) CONTATO
------------------------------------------------------------------ */

#contato {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #f1f1f1;
}




/* ------------------------------------------------------------------
  9) FOOTER
------------------------------------------------------------------ */

#footer {
  position: absolute;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #282828;
  color: #b6b6b6;
}




/* ------------------------------------------------------------------
  10) BUBBA EFFECT
------------------------------------------------------------------ */

figure {
  position: relative;
  padding: 0;
  overflow: hidden;
}

figure > img, figcaption > img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure figcaption, figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure figcaption {
  padding: 2em;
  text-transform: uppercase;
  font-size: 1.25em;
}

figure.effect-bubba {
  background: #000;
}

figure.effect-bubba img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
  opacity: 0.3;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
}

figure.effect-bubba h2 {
  font-size:20px;
  padding-top: 25%;
  color:#e5e5e5;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-20px,0);
  transform: translate3d(0,-20px,0);
  opacity: 0;
}

figure.effect-bubba a {
  top: 25%;
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
  color:#e5e5e5 !important;
  font-size:14px;
  z-index:100;
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover a {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}




/* ------------------------------------------------------------------
  11) ISOTOPE
------------------------------------------------------------------ */

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}


/* ------------------------------------------------------------------
  12) RESPONSIVIDADE
------------------------------------------------------------------ */

@media only screen and (min-width : 1224px) {
  .dropdown-menu li:hover .sub-menu {visibility:visible;}
  .dropdown:hover .dropdown-menu {display: block;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .carousel-caption {top: 15%;}
  .carousel-caption h1 {font-size: 30px;}
  .dropdown-menu li:hover .sub-menu {visibility:visible;}
  .dropdown:hover .dropdown-menu {display: block;}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .carousel-caption {top: 15%;}
  .carousel-caption h1 {font-size: 30px;}
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {background-color: #f1f1f1; text-align:center;}
  html {position: relative; min-height: 100%; border: none;}
}

@media (max-width: 480px) {
  figure {min-width: 100%;max-width: 100%;max-height: 100%;}
}