
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);


/* ------------------------------------------------------------------
01) TYPOGRAPHY / GENERAL
02) HEADER / MENU
03) BUTTON
04) SLIDER
05) SERVICES
06) PROJECTS
07) ABOUT
08) INFO
09) CONTACT
10) FOOTER
11) ISOTOPE
12) RESPONSIVENESS
------------------------------------------------------------------ */


/* ------------------------------------------------------------------
  01) TYPOGRAPHY / GENERAL
------------------------------------------------------------------ */

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  background: #fff;
  color: #555;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.font-inconsolata {
  font-family: "Inconsolata", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.content-box-title {
  padding: 15px 0 15px;
  font-size: 14px;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-weight: 400;
}

h1 {
  font-size: 25px;
  letter-spacing: 0.15em;
  color: #000;
}

h2 {
  font-size: 22px;
  letter-spacing: 0.15em;
  color: #000;
}

a { 
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000;
  -webkit-transition: background-color .2s linear, color .2s linear;
     -moz-transition: background-color .2s linear, color .2s linear;
       -o-transition: background-color .2s linear, color .2s linear;
      -ms-transition: background-color .2s linear, color .2s linear;
          transition: background-color .2s linear, color .2s linear;
}

i {
  color: #000;
}

.divider {
  border-top: 1px solid #f1f1f1;
  margin: 0;
}

.glyphicon-3x {
  font-size: 2em;
}


/* Padding */

.p-t-150 {
  padding-top: 150px;
}

.p-b-150 {
  padding-bottom: 150px;
}


.p-t-80 {
  padding-top: 80px;
}

.p-b-80 {
  padding-bottom: 80px;
}


.p-t-50 {
  padding-top: 50px;
}

.p-b-50 {
  padding-bottom: 50px;
}


.p-t-30 {
  padding-top: 30px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-l-r-200 {
  padding-left: 200px;
  padding-right: 200px;
}


/* ------------------------------------------------------------------
  02) HEADER / MENU
------------------------------------------------------------------ */

.header {
  background-color: #fff;
  border-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.4);
     -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.4);
          box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.4);
}

.navbar-nav {
  padding-top: 10px;
}

.navbar-brand {
  padding-top: 5px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  font-weight: 700;
  color: #000;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #555;
  background-color: transparent;
}

.navbar-nav > li > a {
  font-family: "Inconsolata", sans-serif;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.15em;
  font-weight: 400;
  font-size: 13px;
  color: #000;
}

.navbar-toggle {
  margin: 20px 0 15px;
}

.navbar-default .navbar-toggle {
  border: 1px solid #282828;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #282828;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-collapse {
  text-align: center;
  border-top: none;
  box-shadow: none;
}



/* ------------------------------------------------------------------
  03) BUTTON
------------------------------------------------------------------ */

.btn {
  padding: 8px 37px;
  font-family: "Inconsolata", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 13px;
}

.btn.focus,
.btn.active.focus,
.btn.active:focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.btn.btn-round {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.btn.btn-border {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 12px 45px;
}

.btn.btn-border:hover,
.btn.btn-border:focus {
  background: #000;
  color: #fff;
}

.btn.btn-contact {
  background: transparent;
  font-size: 11px;
  border: 1px solid #b2b2b2;
  color: #666;
}

.btn.btn-contact:hover,
.btn.btn-contact:focus {
  background: #b2b2b2;
  color: #fff;
}


/* ------------------------------------------------------------------
  04) SLIDER
------------------------------------------------------------------ */

.header-menu {
  padding-top: 100px;
}

.header-carousel {
  background-color: #000;
}

.header-carousel .item img {
  position: relative;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.carousel-caption h1 {
  color: #fff;
  font-size: 35px;
}

.carousel-caption {
  top: 15%;
  font-size: 15px;
}

.carousel-subtitle {
  padding: 30px 150px 30px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}



/* ------------------------------------------------------------------
  05) SERVICES
------------------------------------------------------------------ */



/* ------------------------------------------------------------------
  06) PROJECTS
------------------------------------------------------------------ */

/* Projects Filter */

.projects-filter {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.projects-filter > li {
  display: inline-block;
  padding: 5px 0;
  margin: 0 25px;
}

.projects-filter > li a {
  text-transform: uppercase;
  font-size: 14px;
  color: #999;
}

.projects-filter > li a:hover,
.projects-filter > li a.current {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}


/* Projects Grid */

.projects-grid {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects-grid .projects-grid-margin {
  margin: 0 0 0 -10px;
}

.projects-grid.projects-grid-margin .project-item {
  padding: 0 0 10px 10px;
}

.project-item {
  width: 50%;
  float: left;
  margin: 0;
}

.projects-grid-3 .project-item {
  width: 33.333%;
}

.container > .projects-grid-3 .project-item {
  width: 33.2%;
}


/* Projects Item */

.project-item > a {
  position: relative;
  display: block;
  overflow: hidden;
}

.project-image {
  position: relative;
  overflow: hidden;
}

.project-image img {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.projects-grid-3 .project-image img {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 250px;
}

.project-image:after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.project-caption {
  width: 100%;
  padding: 0 20px;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  text-align: center;
  overflow: hidden;
}

.project-caption i {
  color: #fff;
}

.project-title {
  font-size: 20px;
  letter-spacing: 0.15em;
  margin: 0 0 6px;
}

.project-descr {
  font-size: 14px;
  letter-spacing: 0.15em;
}


/* Project Item Hover */

.project-item:hover .project-image > img {
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);
}

.project-item:hover .project-caption {
  bottom: 50%;
  opacity: 1;
  z-index: 3;
  -webkit-transform: translateY(50%);
     -moz-transform: translateY(50%);
          transform: translateY(50%);
}


/* Project Item White Background */

.projects-grid.projects-hover .project-title {
  /* Black */
  color: #fff;

  /* White */
  /*color: #000;*/
}

.projects-grid.projects-hover .project-descr {
  /* Black */
  color: #cacaca;

  /* White */
  /*color: #555;*/
}

.projects-grid.projects-hover .project-item:hover .project-image:after {
  /* Black */
  background: rgba(0, 0, 0, .8);

  /* White */
  /*background: rgba(255, 255, 255, .8);*/
}


/* Project Image Transition element */

.project-caption,
.project-image > img,
.project-image:after {
  -webkit-transition: all 0.3s ease-in-out 0s;
     -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
       -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
}


/* Pagination */

.pagination {
  display: block;
  text-align: center;
  padding-bottom: 80px;
}

.pagination a {
  font-size: 14px;
  text-decoration: none;
}

.pagination a:hover {
  color: #555;
  background-color: transparent;
}

.pagination a + a {
  padding-left: 20px;
}


/* Single Project Page */

.project-details strong {
  color: #000;
}

.project-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-details ul > li {
  margin: 0 0 10px;
}

.project-tags {
  padding-top: 20px;
}

.project-tags ul li {
  padding-right: 20px;
  display: inline-block;
}

.project-tags ul li i.fa {
  width: 15px;
}

.project-tags ul li a {
  font-weight: bold;
}

.project-tags ul li a:hover, a:focus {
  color: #555;
  text-decoration: none;
}

.project-text {
  margin: 20px 0 0;
  text-align: justify;
}

.project-text p {
  margin: 0 0 20px;
}



/* ------------------------------------------------------------------
  07) ABOUT
------------------------------------------------------------------ */

.about {
  text-align: justify;
  padding-right: 50px;
}

.team{ 
  padding-top: 20px;
  padding-left: 50px;
}

.team-img {
  padding-right: 0;
}

.team-img img {
  margin: 0;
  max-height: 150px;
  
}

.team-name {
  font-size: 14px;
  color: #000;
}

.team-role {
  font-size: 12px;
}

.team-desc {
  padding-top: 10px;
  text-align: justify;
}



/* ------------------------------------------------------------------
  08) INFO
------------------------------------------------------------------ */

.info-container {
  background: url(/assets/triangulos.jpg) center fixed;
  background-size: cover;
  color: #fff;
  padding: 15em 0;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.info-counter {
  font-size: 30px;
  letter-spacing: 0.15em;
  font-weight: bold;
}

.info-desc {
  padding-top: 10px;
  font-size: 15px;
}



/* ------------------------------------------------------------------
  09) CONTACT
------------------------------------------------------------------ */

#contact-form {
  text-align: left;
}

.form-control {
  font-family: "Inconsolata", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 11px;
  height: 33px;
  border: 1px solid #b2b2b2;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.form-control, .form-control:hover, .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  border-color: #CACACA;
}



/* ------------------------------------------------------------------
  10) FOOTER
------------------------------------------------------------------ */

footer {
  position: absolute; 
  bottom: 0px;
  width: 100%;
  padding: 25px 0 10px;
  background: #f5f5f5;;
}

.copyright {
  font-size: 14px;
  color: #555;
  text-align: left;
  text-decoration: none;

}

.copyright span {
  color: #000;

}

.social-links {
  text-align: right;
}

.social-links i {
  text-decoration: none;
  color: #333;
}

.social-links i:hover, i:focus {
  color: #777;
}



/* ------------------------------------------------------------------
  11) ISOTOPE
------------------------------------------------------------------ */

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property: -moz-transform, opacity;
          transition-property: transform, opacity;
}



/* ------------------------------------------------------------------
  12) RESPONSIVENESS
------------------------------------------------------------------ */

@media only screen and (min-width : 1224px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
  .carousel-caption {
    top: 15%;
  }
  
/*  .carousel-caption h1 {
    font-size: 30px;
  }*/

  .module-subtitle {
    padding: 50px 0 50px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
       -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
            transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
  }

  .navbar-default.navbar-shrink .navbar-brand img {
    padding-top: 5px;
    max-height: 50px;
  }

  .navbar.navbar-shrink {
    opacity: 0.9;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
  .carousel-caption {
    top: 5px;
  }
  
  .carousel-caption h1 {
    font-size: 12px;
  }
  
  figure {
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  
  .navbar-brand img {
    padding-top: 5px;
  }

  .module-subtitle {
    padding: 50px 0 50px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  
  figure {
    min-width: 100%;
    max-width: 100%;
    max-height: 1000%;
  }
}